@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */


/* .jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
  --font-jetbrains-mono: monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);
}
 